<mat-form-field style="width:120px" class="mat-remove-top-border">
    <input matInput type="text" [formControl]="control" mask="099" style="text-align: center;">
    <button type="button" mat-icon-button matPrefix (click)="decrement()"><mat-icon>remove</mat-icon></button>
    <button type="button" mat-icon-button matSuffix (click)="increment()"><mat-icon>add</mat-icon></button>
    <mat-error *ngIf="control.hasError('required')">
        Enter Quantity
    </mat-error>
    <mat-error *ngIf="control.hasError('errorQuantity')">
        Quantity cannot be zero
    </mat-error>
</mat-form-field>