<form [formGroup]="userPermForm" (ngSubmit)="save()">
    <div class="flex-title" mat-dialog-title>
        <div>{{username}} - Permissions <span *ngIf="errMsg" class="error">{{errMsg}}</span></div>
        <div mat-dialog-close>
            <button type="button" mat-icon-button isIconButton="true" aria-label="close dialog" tabindex="-1"><mat-icon>close</mat-icon></button>
        </div>
    </div>
    <div mat-dialog-content>
        <table style="overflow: hidden;">
            <tr>
                <td>Account</td>
                <td><mat-checkbox formControlName="createAccount" color="primary">Create</mat-checkbox></td>
                <td><mat-checkbox formControlName="editAccount" color="primary">Edit</mat-checkbox></td>
                <td><mat-checkbox formControlName="deleteAccount" color="primary">Delete</mat-checkbox></td>
                <td><mat-checkbox formControlName="viewListAccount" color="primary">View List</mat-checkbox></td>
            </tr>
            <tr>
                <td>Bank</td>
                <td><mat-checkbox formControlName="createBank" color="primary">Create</mat-checkbox></td>
                <td><mat-checkbox formControlName="editBank" color="primary">Edit</mat-checkbox></td>
                <td><mat-checkbox formControlName="deleteBank" color="primary">Delete</mat-checkbox></td>
                <td><mat-checkbox formControlName="viewListBank" color="primary">View List</mat-checkbox></td>
            </tr>
            <tr>
                <td>Files</td>
                <td><mat-checkbox formControlName="uploadFile" color="primary">Upload</mat-checkbox></td>
            </tr>
            <tr>
                <td>General Voucher</td>
                <td><mat-checkbox formControlName="createGenVoucher" color="primary">Create</mat-checkbox></td>
                <td><mat-checkbox formControlName="editGenVoucher" color="primary">Edit</mat-checkbox></td>
                <td><mat-checkbox formControlName="deleteGenVoucher" color="primary">Delete</mat-checkbox></td>
                <td><mat-checkbox formControlName="viewListGenVoucher" color="primary">View List</mat-checkbox></td>
            </tr>
            <tr>
                <td>Group</td>
                <td><mat-checkbox formControlName="createGroup" color="primary">Create</mat-checkbox></td>
                <td><mat-checkbox formControlName="editGroup" color="primary">Edit</mat-checkbox></td>
                <td><mat-checkbox formControlName="deleteGroup" color="primary">Delete</mat-checkbox></td>
                <td><mat-checkbox formControlName="viewListGroup" color="primary">View List</mat-checkbox></td>
            </tr>
            <tr>
                <td>Inventory</td>
                <td><mat-checkbox formControlName="createInventory" color="primary">Create</mat-checkbox></td>
                <td><mat-checkbox formControlName="editInventory" color="primary">Edit</mat-checkbox></td>
                <td><mat-checkbox formControlName="deleteInventory" color="primary">Delete</mat-checkbox></td>
                <td><mat-checkbox formControlName="viewListInventory" color="primary">View List</mat-checkbox></td>
            </tr>
            <tr>
                <td>Reports</td>
                <td><mat-checkbox formControlName="generateReports" color="primary">Generate</mat-checkbox></td>
            </tr>
            <tr>
                <td>User</td>
                <td><mat-checkbox formControlName="createUser" color="primary">Create</mat-checkbox></td>
                <td><mat-checkbox formControlName="editUser" color="primary">Edit</mat-checkbox></td>
                <td><mat-checkbox formControlName="deleteUser" color="primary">Delete</mat-checkbox></td>
                <td><mat-checkbox formControlName="viewListUser" color="primary">View List</mat-checkbox></td>
                <td><mat-checkbox formControlName="editUserPersmissions" color="primary">Edit Permissions</mat-checkbox></td>
            </tr>
            <tr>
                <td>Product</td>
                <td><mat-checkbox formControlName="createProduct" color="primary">Create</mat-checkbox></td>
                <td><mat-checkbox formControlName="viewListProduct" color="primary">List</mat-checkbox></td>
            </tr>
            <tr>
                <td>Voucher</td>
                <td><mat-checkbox formControlName="createVoucher" color="primary">Create</mat-checkbox></td>
                <td><mat-checkbox formControlName="editVoucher" color="primary">Edit</mat-checkbox></td>
                <td><mat-checkbox formControlName="deleteVoucher" color="primary">Delete</mat-checkbox></td>
                <td><mat-checkbox formControlName="viewListVoucher" color="primary">View List</mat-checkbox></td>
            </tr>
        </table>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-raised-button color="primary" [disabled]="!userPermForm.valid">Save</button>
        <button type="button" mat-raised-button mat-dialog-close color="primary">Close</button>
    </div>
</form>