<div class="flex-space align-left">
    <div class="mat-title mr-05">
        Opening Balance
    </div>
    <mat-form-field class="space-7 mr-05">
        <mat-label>Filter</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
    <div>
        <button type="button" mat-mini-fab color="primary" (click)="refresh()" title="Refresh"><mat-icon>refresh</mat-icon></button>
        &nbsp;
        <button type="button" mat-mini-fab color="primary" (click)="exportData()" title="Download List" [disabled]="(accountOpenBalListDS.filteredData.length === 0)"><mat-icon>save_alt</mat-icon></button>
    </div>
</div>
<div class="container mat-elevation-z8">
    <table mat-table [dataSource]="accountOpenBalListDS" [trackBy]="trackList" matSort>
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Code</strong>
            </th>
            <td mat-cell *matCellDef="let shop">{{shop.code}}</td>
        </ng-container>
        <ng-container matColumnDef="firmName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Firm Name</strong>
            </th>
            <td mat-cell *matCellDef="let shop">{{shop.firmName}}</td>
        </ng-container>
        <ng-container matColumnDef="town">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Town</strong>
            </th>
            <td mat-cell *matCellDef="let shop">{{shop.town}}</td>
        </ng-container>
        <ng-container matColumnDef="credit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-right">
                <strong>Credit</strong>
            </th>
            <td mat-cell *matCellDef="let shop" style="text-align: right;">{{shop.credit | number:'.2-2'}}</td>
        </ng-container>
        <ng-container matColumnDef="debit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-right">
                <strong>Debit</strong>
            </th>
            <td mat-cell *matCellDef="let shop" style="text-align: right;">{{shop.debit | number:'.2-2'}}</td>
        </ng-container>
        <ng-container matColumnDef="noData">
            <td mat-footer-cell *matFooterCellDef [attr.colspan]="columnsToDisplay.length" data-export="false">
                No Data Available
            </td>
        </ng-container>
        <ng-container matColumnDef="totalBalance">
            <td mat-footer-cell *matFooterCellDef [attr.colspan]="3" data-export="true">
            </td>
        </ng-container>
        <ng-container matColumnDef="totalCredit">
            <td mat-footer-cell *matFooterCellDef data-export="true" style="text-align: right;">
                <strong>{{totalCredit | number:'.2-2'}}</strong>
            </td>
        </ng-container>
        <ng-container matColumnDef="totalDebit">
            <td mat-footer-cell *matFooterCellDef data-export="true" style="text-align: right;">
                <strong>{{totalDebit | number:'.2-2'}}</strong>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" ></tr>
        <tr mat-footer-row *matFooterRowDef="accountOpenBalListDS.filteredData.length === 0 ? ['noData'] : ['totalBalance','totalCredit','totalDebit']; sticky: true" style="text-align: center;"></tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25]" pageSize="10" showFirstLastButtons></mat-paginator> -->
</div>